body {
    background: #003D8B;

}
.stock {
    background: black;
    color: #3AB981;
    border: 1px solid black;
    border-radius: 25px;
    margin: 10px 20px 10px 20px;
    padding: 10px 10px 10px 10px;
}
img {
    max-width: 100%;
    max-height: 100%;

}
.fa-times {
    color: red;
    font-size: 2em;
}


.header {
    background: black;
}

.title {
    color: white;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.symbol_button {

    background: black;
    border: 1px solid black; 
    color: white;
    margin-bottom:30px;
    margin-left: 20px;
    border-bottom: 1px solid #3AB981;


}

.symbol_input {
    background: black;
    border: 1px solid black;
    border-bottom: 1px solid #3AB981;
    color: white;



}
