<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Some Stock Thing</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
	<div id="app" class="container">
		<!--<navbar></navbar>-->
		<!--[>add grid component here<]-->
		<!--<footer-area></footer-area>-->
        <div class="header container">
            <div class="row">
                    <div class="col-md-4"><p></p></div>
                    <div class="col-md-4">
                    
                        <input  v-model="searchSymbol">
                        <p>symbol : {{searchSymbol}}</p>
                        <button v-on:click="addSymbol">Add Symbol</button>
                    
                    </div>
                    <div class="col-md-4"><p></p></div>
            </div>
        </div>
		<ul>
			<li v-for="price in prices" class="stock" style="list-style-type: none">
                <h2>{{price.symbol}}</h2>
				<br>
                <div class="row">
                    <div class="col-md-4">
                        <p>Date: {{price.date}}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Open: {{price.open}}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <p>High: {{price.high}}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Low: {{price.low}}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <p>Close: {{price.close}}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Volume: {{price.volume}}</p>
                    </div>
                </div>
                <div class="row">
                    <img v-bind:src="price.link" alt="" style="max-height:100%; max-width: 100%" >
                </div>
                <div class="row">
                    <i class="fa fa-times pull-right" aria-hidden="true" v-on:click="removeSymbol"></i>
                </div>
			</li>
		</ul>
		
		
		
		
	</div>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
    <script src="js/app.js"></script>
    
</body>
</html>
